.logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: #2196F3;
    @include desktop {
        font-size: 26px;
        line-height: 1.19;
    }
        }

.logomg {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 126px;
    @include tablet {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 87px;
        }
        @include desktop {
            margin-right: 92px;
        }
}