.logo--color-dark{
color: #000000;
}

.logo--color-light{
color:var(--part-second-logo-color-foot);
margin-bottom: 20px;
}

.links__nav--color-dark {
    fill: #757575;
color: #757575;
}

.foot-link--color-light {
    color: rgba(255, 255, 255, 0.6);
}