:root {
    --main-title-color:#FFFFFF;
    --secondary-title-color:#212121;
    --about-btn-color:#212121;
    --text-color:#757575;
    --part-second-logo-color-foot:#ffffff;
    --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
