.particulars {
    padding-top: 60px;
    padding-bottom: 60px;
     @include tablet {
        padding-top: 55px;
    padding-bottom: 65px;
    }
}

.particulars__list {
    @include tablet {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
    }   
    }

.particulars__item:not(:first-child) {
    margin-top: 30px;
}

.particulars__item {
     @include tablet {
             &:not(:first-child) {
            margin-top: 0;            
        }    
             }   }
             
             
             
.particulars__item {
    @include tablet{
        width: calc((100%-1*30px)/2);
    }
}

          
             
.particulars__item::before {
    content: '';
    display: block;
    height: 120px;   
    border-radius: 4px;
    background-size: 70px 70px; 
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
}

.particulars__title {
    margin-top: 30px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color:var(--secondary-title-color);
text-align: center;
}

.particulars__text {
    margin-top: 10px;
font-size: 14px;
line-height: 1.71;
color:var(--text-color);
max-width: 450px;
}

.icon-antenna::before {
background-image: url(../img/antenna.svg);
}

.icon-clock::before {
background-image: url(../img/clock.svg);
}

.icon-diagram::before {
background-image: url(../img/diagram.svg);
}

.icon-astronaut::before {
background-image: url(../img/astronaut.svg);
}