.studio-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.studio-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.studio-soc-link:hover,
.studio-soc-link:focus {
background-color: #2196F3;
}

.studio-soc-link:hover .studio-soc-icon,
.studio-soc-link:focus .studio-soc-icon {
fill: #FFFFFF;
}


.studio-soc-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



